<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading jumbotron-fluid display-3">{{title}}</h1>
    <div class="form-group mx-sm-2 mb-2">
      <input type="text" id="inputSong" placeholder="Song">
      <a (click)="getResult()" class="btn btn-primary mb-sm-2">Search</a>
    </div>
    <p class="lead text-muted" *ngIf="songs!= null">See the results for your search</p>
  </div>
</section>

<div *ngFor="let songs of songs | async">
  {{songs | json}}
</div>
<div class="row">
  <div class="col-xl-2" style="background-color: lightgray; min-height: 800px">
    <p>Benutzerbereich!</p>
    <div *ngIf="users==null">
      <div class="form-group mx-sm-2 mb-2">

        <input type="text" id="Username" placeholder="Username">
      </div>
      <div class="form-group mx-sm-2 mb-2">
        <input type="text" id="Password" placeholder="Password">
      </div>
      <div>
        <a (click)="getUser()" class="btn btn-primary mb-sm-2">Login</a>
      </div>
    </div>
   <app-useritem [useritem]="user"></app-useritem>
  </div>
  <div class="col-xl-10">
    <div class="row">
      <app-songitem [songitem]="song"></app-songitem>
      <app-albumitem [albumitem]="album"></app-albumitem>
      <app-artistitem [artistitem]="artist"></app-artistitem>
      <app-publisheritem [publisheritem]="publisher"></app-publisheritem>
      <div *ngIf="newSong!=null"> {{newSong | async | json}}
      </div>
    </div>
  </div>
</div>
