*.gz
*.aux
*.toc
backend/node/node_modules/
Documentation/Design/.idea/workspace.xml
Documentation/Design/.idea/modules.xml
Documentation/Design/.idea/Design.iml
app/android/app/.settings/org.eclipse.buildship.core.prefs
app/android/.settings/org.eclipse.buildship.core.prefs
