<section class="jumbotron text-left">
  <div class="container">
    <h1 class="jumbotron-heading jumbotron-fluid display-3">{{title}}</h1>
    <div class="row">
      <div>
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
          <input type="text" name="searchText" id="searchText" ngModel>
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </div>
      <div style="padding-left: 40px">
        <app-login></app-login>
        <button class="btn btn-group-toggle" (click)="open(content)">Register user</button>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <app-songitem *ngFor="let searchResult of searchResult | async" [searchResult]="searchResult"
                (addedToFavorites)="onAddedToFavorites($event)"></app-songitem>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Register user</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-register></app-register>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
  </div>
</ng-template>
