<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
    <th scope="col">artist</th>
    <th scope="col">length</th>
    <th scope="col">releaseDate</th>
    <th scope="col">lyrics</th>
    <th scope="col">genres</th>
    <th scope="col">album</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="col">{{songitem.id}}</td>
    <td scope="col">{{songitem.title}}</td>
    <td scope="col">{{songitem.artists}}</td>
    <td scope="col">{{songitem.length}}</td>
    <td scope="col">{{songitem.releaseDate}}</td>
    <td scope="col">{{songitem.lyrics}}</td>
    <td scope="col">{{songitem.genres}}</td>
    <td scope="col">{{songitem.album}}</td>
  </tr>
  </tbody>
</table>
